<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit the pet</title>
</head>
<body th:bgcolor="DarkOrchid" >
<form role="form" th:method="POST" th:action="@{/auth/editAnimal/{animalNumber}(animalNumber = ${animal.getAnimalNumber()})/{owner}(owner = ${animal.getClient())}}">
    <div class="form-group">

        <label for="username">
            Введите имя питомца
        </label>
        <input type="text" id="username"  name="name" class="form-control" th:value="${animal.getName()}"/>
    </div>
    <div class="form-group">
        <label for="age">
            Введите Дату Рождения питомца
        </label>
        <input type="text" id="age" name="age" class="form-control" th:value="${animal.getAge()}"/>
    </div>
    <div class="form-group">
        <select class="form-control" name="sex" id="sex">
            <option disabled>Выберите пол питомца</option>
            <option value="женский">Женский</option>
            <option value="мужской">Мужской</option>
        </select>
    </div>
    <div class="form-group">

        <label for="about">
            Введите личные данные питомца
        </label>
        <textarea required id="about"  name="about" th:value="${animal.getAbout()}" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">
        Сохранить новые данные
    </button>
</form>
</body>
</html>